@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

div#main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

section {
    position: relative;
    width: 100vw;
}

section.min-height {
    min-height: 100vh;
}

section.padding {
    padding: 5rem 0;
}

section img.background {
    height: 100%;
    left: 50%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: 100vmax;
    z-index: -1;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 7rem;
    font-weight: 400;
    line-height: 0.8;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding-top: 1rem;
}

h3 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 300;
}

p.large {
    font-size: 22px;
}

p.small {
    font-size: 15px;
}

hr {
    margin: 2.5rem;
}

li {
    line-height: 1.7;
}

li::marker {
    color: #4e567e;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #4e567e;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 330px 300px;
    margin: 20px auto;
}

.container .box {
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 16px;
    text-align: center;
}

img.socialIcon {
    height: 30px;
    width: 30px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}


::-webkit-scrollbar {
    width: 8px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 10px;
}


@keyframes slideUpDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 2rem 0;
}

#experience-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.experience-card {
    background-color: white;
    border-radius: 0.75rem;
    border: 3px solid #e0e7ff;
}

.experience-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
    .experience-body {
        padding: 1.5rem;
    }
}

.experience-body {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 640px) {
    .experience-body {
        gap: 2rem;
    }
}

.experience-company-logo-containe {
    display: none;
}

@media (min-width: 640px) {
    .experience-company-logo-containe {
        display: grid;
        width: 5rem;
        height: 5rem;
        place-content: center;
        border-radius: 50%;
        border: 2px solid #6366f1;
        flex-shrink: 0;
    }
}

.experience-company-logo-container img {
    width: 7rem;
    height: 7rem;
}


.experience-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.experience-company-name {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    margin-top: -10px;
}

@media (min-width: 640px) {
    .experience-company-name {
        font-size: 1.3rem;
    }
}

.experience-company-name-link {
    text-decoration: none;
    color: inherit;
}

.experience-company-name-link:hover {
    text-decoration: underline;
}

.experience-title-position {
    font-size: 1.19rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 1px;
}

.experience-description {
    font-size: 1.02rem;
    color: #000000;
    margin-top: -1rem;
    text-align: justify;
    width: 85%;
}